/* Основные стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#about {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Стили для картинки */
.about-img {
    display: block;
    margin: 0 auto; /* Центрируем картинку */
    width: 200px; /* Размер картинки */
    height: 200px;
    object-fit: cover; /* Чтобы картинка не искажалась */
}

/* Стили для текста */
#about {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify; /* Текст выравнивается по ширине */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
